hypervisors:
  my.hypervisor:
    port: 22
    username: root
    key: AAAAAAAAAAAAAAAAAAAAAAAAA
    instance_config:
      cpus: 2
      memory: 2048
      disk: 8192
      ovmf_path: /usr/share/ovmf/x64/OVMF_CODE.fd
      dom_prefix: distry-
      storage_pool: distry
      network: distry
distros:
  manjaro:
    name: Manjaro 18.1.2 XFCE
    paths:
      my.hypervisor: /var/lib/libvirt/images/manjaro.iso
